@{
    ViewBag.Title = "Egresados Unicauca";
}
<script type="text/javascript"> 
$(document).ready(function () {
        $.ajax({
            type : "POST",
            url :  "@(Url.Action("ShowPosts", "Post"))", // se dirige a la acción "ShowPosts" del controlado Post
            traditional : true,
            data : {}, // se agregan los parametros necesarios para la funcionalidad
            success : function(data){
                $("#VisorNoticias").html(data); // carga el código html en el div "VisorNoticias", este código es retornado por el controlador.
            }
        });  
}) 
$(document).ready(function () {
        $.ajax({
            type : "POST",
            url :  "@(Url.Action("index2", "Vacancies"))", // se dirige a la acción "ShowPosts" del controlado Post
            traditional : true,
            data : {}, // se agregan los parametros necesarios para la funcionalidad
            success : function(data){
                $("#contenido-der").html(data); // carga el código html en el div "VisorNoticias", este código es retornado por el controlador.
            }
        });  
}) 
</script>
<div class="contenido-izq">
    <div class="alert error">
        @TempData["Error"]
    </div>
    <div class="alert success">
        @TempData["Success"]
    </div>
    <div id="VisorNoticias"></div>
</div>
<div id="contenido-der" class="contenido-der">
    
</div>