@{
    ViewBag.Title = "Publicar Vacante";
}

<h2>Publicar vacante</h2>

         <div class="editor-label">
            Lo sentimos, para registrar vacantes debe tener su informacion actualizada
        </div>

<div>
<br />
<br />
    @Html.ActionLink("Actualizar Información", "../User/Create", null, htmlAttributes: new { @class = "ebutton blue" })
</div>
