@{
    ViewBag.Title = "Acceso denegado";
}

<h2>Acceso denegado</h2>

         <div class="editor-label">
            Lo sentimos, para realizar esta operación debe completar la actualización de su perfil
        </div>

<div>
<br />
<br />
    @Html.ActionLink("Actualizar Información", "../User/Create", null, htmlAttributes: new { @class = "ebutton blue" })
</div>
