@model AplicacionBase.Models.Survey

@{
    ViewBag.Title = "Details";
}
<div class="c9">
<h2>Detalles</h2>

<fieldset>
    

    <div class="display-label"><legend>Nombre</legend></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <br/>

    <div class="display-label"><legend>Objetivo</legend></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Aim)
    </div>
    <br/>
</fieldset>
<br/>
    <p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Cancelar", "Index")
</p>
</div>
