@model AplicacionBase.Models.Report

@{
    ViewBag.Title = "Eliminar Reporte";
}

<div class="grid">
	<div class="c12">
    		<h2>Eliminar</h2>
	</div>
	<div class="c12">
    	<div class="c9 first" id=”contenido”>

            <h3>¿Está seguro de eliminar este reporte?</h3>
            <fieldset>
                <legend>Reporte</legend>



                 <div class="display-label">
                    <h3>Descripción</h3>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Description)
                </div>

    
            </fieldset>
            @using (Html.BeginForm()) {
                <p>
                    <input type="submit" value="Eliminar" class="ebutton2 blue" /> &nbsp;
                    @Html.ActionLink("Regresar", "Index",null, htmlAttributes: new { @class = "ebutton blue" })

                </p>
            }


    	</div>
    	<div class="c3 last" id=”layout”>@Html.Partial("_LayoutReports")</div>
	</div>
	&nbsp;
</div>


