@model AplicacionBase.Models.aspnet_UsersInRoles

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>aspnet_UsersInRoles</legend>

    <div class="display-label">aspnet_Users</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.aspnet_Users.UserName)
    </div>

    <div class="display-label">aspnet_Roles</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.aspnet_Roles.RoleName)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
