@model AplicacionBase.Models.School

@{
    ViewBag.Title = "Details";
}

<h2>Información de la Institución</h2>

<fieldset>
    <legend>Institucion</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "ebutton blue" }) 
    @Html.ActionLink("Regresar", "Index", "", htmlAttributes: new { @class = "ebutton blue" })
</>div
</fieldset>

