<div align="center" class="sidebar" >
    <a href="#" class="ebutton blue">Prueba 1</a><br/>
    <a href="#" class="ebutton blue">Prueba 1</a><br/>
    <a href="#" class="ebutton blue">Prueba 1</a><br/>
    <a href="#" class="ebutton blue">Prueba 1</a><br/>
    <a href="#" class="ebutton blue">Prueba 1</a><br/>
    <a href="#" class="ebutton blue">Prueba 1</a><br/>
    <a href="#" class="ebutton blue">Prueba 1</a><br/>
</div>
