/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    background: #E6E6E6 url(themes/base/images/fon-body.png) repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100%;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page 
{
    display: block;
    width: 970px;
    text-align: left;
    float: left;
    /*height: 100%;
    /*width: 90%;
    margin-left: auto;
    margin-right: auto;*/
}

header, #header 
{
    height: 120px;
    background: #061E64 url(themes/base/images/fon-cabecera-rojo.png) repeat-y;
    /*position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;*/
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 30px 30px 15px 30px;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    min-height: 300px;
}

footer, 
#footer {
    background: #FFFFFF url(themes/base/images/sep-logo-unicauca.gif);
    padding-bottom: 5px;
    clear: both;
    height: 70px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
   padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: left;
    height: 36px;
    background: url(themes/base/images/menu-pri-fondo.png) repeat-x;
}

ul#menu li {
    display: block;
    float: left;
    border-left: 1px solid #1039A7;
    border-right: 1px solid #041544;
}
ul#menu li.first{
    border-left: none;
}
ul#menu li.end{
    border-right: none;
}
ul#menu li#greeting {
   /* padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;*/
}

ul#menu li a {
    padding: 10px 20px;
    text-decoration: none;   
    color: white;
    font-size: 14px;
    line-height: 34px 
}

ul#menu li a:hover {
    color: Orange;
    text-decoration: none;
}

ul#menu li a:active {
   /* background-color: #a6e2a6;
    text-decoration: none;*/
}

ul#menu li.selected a {
    /*background-color: #fff;
    color: #000;*/
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    font-weight: bold;
    font-size: 12px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

#Maqueta{
    margin: 0 auto;
    width: 1124px;
}

#derecha {
width: 77px;
height: 245px;
background: url(themes/base/images/der.gif) no-repeat;
float: left;
}

#izquierda {
width: 77px;
height: 245px;
background: url(themes/base/images/izq.gif) no-repeat;
float: left;
}
#superior
{
    height: 120px;
    background: url(themes/base/images/fon-cabecera-barra-logo.png) no-repeat 0px 0px;
}
#msg_sistema
{
    float: right;
    width: 770px;
    height: 50px;
    margin-top: 28px;
    text-align: right;
    color: white;
    margin-right: 20px;
}
#contenido
{
    clear: both;
    background: #FFFFFF url(themes/base/images/fon-con-contenido.png) repeat-x 0 0;    
    margin-top: 120px;
}
#menucontainer
{
    height: 36px;
}
#menuizq
{
    height: 36px;
    background: url(themes/base/images/menu-pri-esq-izq.png) no-repeat left top;
}
#menuder
{
    height: 36px;
    padding: 0 12px;
    background: url(themes/base/images/menu-pri-esq-der.png) no-repeat right top;
}
#cabecera
{
    position:absolute;
    width: 970px;
    top: 0px;
}
img
{
    max-width: 900px;
}