
    
        <div class="grid">
            <div class="c12">
                <div class="c1 first"></div>
                <div class="c11 last">
                    <div align="center" class="sidebarcontainer">
                        <h3>Opciones</h3>                    
                        <div align="center" class="sidebar">       
                            @Html.ActionLink("Gestionar Encuestas", "Index", "Surveys", null, new { @class = "ebutton2 blue linkmenu" })<br />
                            @Html.ActionLink("Gestionar Temas", "Index", "Topic", null, new { @class = "ebutton2 blue linkmenu" })<br />
                        </div>
                        <br/>
                    </div>
            </div>
        </div>
    
    &nbsp;
</div>