@{
    ViewBag.Title = "Confirmación";
    Layout = "~/Views/Shared/_LayoutW.cshtml";
}

<div class="alert error">
        @TempData["Error"]
</div>
<div class="alert success">
        @TempData["Success"]
</div>