<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style type="text/css">
        .header
        {
            text-align: right;
        }
        .system-name
        {
            color: #003399;
            font-family: Arial, Helvetica, sans-serif;
        }
        .notice
        {
            font-size: small;
            color: #808080;
        }
    </style>
</head>
<body>
    <div class="header">
        <span class="system-name"><strong>SISTEMA DE INFORMACION
            <br />
            FACULTAD DE INGENIERIA ELECTRONICA Y TELECOMUNICACIONES</strong></span><br />
    </div>
    <div style="border-top: 3px solid #B01A1A">
        <span style="font-family: Arial; font-size: 10pt">Cordial Saludo <b>{UserName}</b>,<br />
            <br />
            Estamos interesados en su opinión. Colaborenos respondiendo a la encuesta.<br />
            <br />
            <a style="color: #22BCE5" href="{Url}">{Title}</a><br />
            <br />
            {Description}
            <br />
            <br />
            Gracias<br />
            Universidad del Cauca<br />
            Facultad de Ingeniería Electrónica y Telecomunicaciones</span>
    </div>
    <div style="border-top: 1px solid #CCCCCC">
        <p>
            <span class="notice" style="font-style: normal; font-variant: normal; font-weight: small;
                letter-spacing: normal; line-height: normal; orphans: auto; text-align: start;
                text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px;
                -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);
                display: inline !important; float: none;"><em>Este mensaje es confidencial y puede contener
                    informacion privilegiada la cual no puede ser usada ni divulgada a personas distintas
                    de su destinatario. Esta prohibida la retencion, grabacion, utilizacion, aprovechamiento
                    o divulgacion con cualquier proposito. Si por error recibe este mensaje, por favor
                    destruya su contenido y avise a su remitente.<br />
                    En este aviso legal se omiten intencionalmente las tildes.</em></span></p>
    </div>
</body>
</html>
