<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    
    <style type="text/css">
        .style1
        {
            text-align: right;
            font-size: small;
            font-family: Arial, Helvetica, sans-serif;
            color: #000099;
        }
        .style2
        {
            font-size: small;
            color: #808080;
        }
        .style3
        {
            text-align: right;
            font-size: medium;
            font-family: Arial, Helvetica, sans-serif;
            color: #000099;
        }
    </style>
    
</head>
<body>
    <div>
        <h1 class="style3">
            SISTEMA DE INFORMACION</h1>
        <h2 class="style1">
            FACULTAD DE INGENIERIA ELECTRONICA Y TELECOMUNICACIONES</h2>
    </div>
    <div style="border-top: 3px solid #B01A1A">
        <span style="font-family: Arial; font-size: 10pt">Cordial Saludo <b>{UserName}</b>,<br />
            <br />
            Estamos interesados en su opinión. Colaborenos respondiendo a la encuesta.<br />
            <br />
            <a style="color: #22BCE5" href="{Url}">{Title}</a><br />
            <br />
            {Description}
            <br />
            <br />
            Gracias<br />
            Universidad del Cauca<br />
            Facultad de Ingeniería Electrónica y Telecomunicaciones<br />
        </span>
        
            

    </div>
    <div style="border-top: 2px solid #CCCCCC">
        
        <p>
            <em><span class="style2">Este mensaje es confidencial y puede contener informacion privilegiada la cual no
            puede ser usada ni divulgada a personas distintas de su destinatario. Esta prohibida
            la retencion, grabacion, utilizacion, aprovechamiento o divulgacion con cualquier
            proposito. Si por error recibe este mensaje, por favor destruya su contenido y avise
            a su remitente.
            </span>
            <br class="style2" />
            <span class="style2">En este aviso legal se omiten intencionalmente las tildes.</span></em></p>
    </div>
</body>
</html>
