@{
    Layout = "";  
}
<div id="Noticias">
    <div id="NoticiasBordeSup">
		<div id="noticiasBordeSupIzq"></div>
        <div id="noticiasBordeSupDer"></div>
	</div>
    <div id="MedioNoticias">
        <div id="ContenidoNoticias">
            <h2>Noticias</h2>
            <div id="carrucel-main" class="Carrucel">
                <div class="ContentCarrucel" id="Content">            
                        <div class="NodeCarrucel" id="Node1">informacion 1
                        <p>ingrese toda la informacion que desee</p></div>
                        <div class="NodeCarrucelUnselected" id="Node2">informacion 2</div>  
                        <div class="NodeCarrucelUnselected" id="Node3">informacion 3</div>
                        <div class="NodeCarrucelUnselected" id="Node4">informacion 4</div>
                        <div class="NodeCarrucelUnselected" id="Node5">informacion 5</div>
                        <div class="NodeCarrucelUnselected" id="Node6">informacion 6</div>        
                </div>
                <div class="Controls">
                    <a href="javascript:void(0)" class="Back" id="BackCarrucel" onclick="Back();">&lt;&lt;&lt;</a>
                    <a href="javascript:void(0)" class="Next" id="NextCarrucel" onclick="Next();">&gt;&gt;&gt;</a>
                    <a href="javascript:void(0)" class="ASelected" id="A1" onclick="goToPosition(1),">1</a>
                    <a href="javascript:void(0)" class="Position" id="A2" onclick="goToPosition(2);">2</a>
                    <a href="javascript:void(0)" class="Position" id="A3" onclick="goToPosition(3);">3</a>
                    <a href="javascript:void(0)" class="Position" id="A4" onclick="goToPosition(4);">4</a>
                    <a href="javascript:void(0)" class="Position" id="A5" onclick="goToPosition(5);">5</a>
                    <a href="javascript:void(0)" class="Position" id="A6" onclick="goToPosition(6);">6</a>
                </div>
            </div>
        </div>
    </div>
</div>