@model AplicacionBase.Models.SurveysTopic

@{
    ViewBag.Title = "Borrar";
}

<h2>Delete</h2>

<h3>¿Está seguro que desea borrar el tema de la encuesta?</h3>
<fieldset>
    <legend>Encuestas y temas</legend>

    <div class="display-label">Survey</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Survey.Name)
    </div>

    <div class="display-label">Topic</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Topic.Description)
    </div>

    <div class="display-label">TopicNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TopicNumber)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Borrar" /> |
        @Html.ActionLink("Regresar al listado", "Index", routeValues: new { id = ViewBag.survey})
    </p>
}
