@model AplicacionBase.Models.Topic

@{
    ViewBag.Title = "Eliminar Tema";
}

<div class="c9">
<h2>Eliminar</h2>

<h3>¿Está seguro de eliminar este tema?</h3>
    <fieldset>
        <h3>Tema</h3>

        <div class="display-label"><h3>Descipcion</h3></div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Description)
        </div>
        <br/>
    </fieldset>
    
    <br/>
    @using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar" class="ebutton2 blue" /> &nbsp;
        @Html.ActionLink("Regresar", "Index",null, htmlAttributes: new { @class = "ebutton blue" })
    </p>
}
</div>

