@model AplicacionBase.Models.Topic

@{
    ViewBag.Title = "Detalles Tema";
}

<h2> Detalles </h2>

<fieldset>
    <legend>Tema</legend>

    <div class="display-label">Descipcion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>

